* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
  align-items: center;
}

.header img {
  max-width: 10%;
  padding: 0.5%;
}

.trybewarts-login {
  display: flex;
  align-items: center;
  max-width: 40%;
}

.trybewarts-login input {
  padding: 8px 0;
  min-width: 33%;
  margin: 0 1%;
  border-radius: 5px;
  border: none;
}

::placeholder {
  text-align: center;
}

#login-btn {
  border: none;
  padding: 8px 0;
  min-width: 33%;
  text-align: center;
  margin: 0 1%;
  border-radius: 5px;
  background-color: indigo;
  color: white;
  font-weight: 500;
}

#trybewarts-header-title {
  color: white;
  font-size: 40px;
}

main {
  display: flex;
  justify-content: space-around;
}

#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 675px;
}

.options-container {
  display: flex;
  width: 100%;
}

.line-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

div label {
  display: flex;
}

.labeled-btn {
  align-self: center;
  margin: 0 2px;
}

.half-line {
  display: flex;
  width: 40%;
}

.half-line select {
  flex-grow: 1;
  text-align: center;
}

.family-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.tech-container {
  width: 50%;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-container label {
  margin: 5px;
}

.comment-container {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.grade-container {
  width: 100%;
}

.agreement-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.agreement-container input {
  margin-left: 1%;
}

form div {
  border: solid 1px black;
}

#submit-btn {
  width: 100%;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  background-color: indigo;
  color: white;
  font-weight: 500;
}

footer {
  background-color: rgb(97, 97, 97);
  color: white;
  text-align: center;
  padding: 8px 0;
  font-weight: 800;
}

#resune-container {
  display: none;
}